.myform{
    width:600px;
    height: 580px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    position: relative;
    top:60px;
    border-radius: 8px;
    

}

.box{
    
    border-radius: 5px;
    border: 3px solid black;
    width:250px;
    height:30px;
    text-align: center;
}
.b-img{
    background-color: black;
    width: 700px;
    height:700px;
    border-radius: 8px;
   
}
.d1,.d2,.d3,.d4,.d5{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.tx{
    border-radius: 10px;
    border: 3px solid black;
    text-align: center;
    
}
.sub{
    text-decoration: none;
    color:black ;
}